<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BATTLEGROUNDS MOBILE INDIA</title>
  <link rel="icon" href="Assets/app.png">
  <link rel="stylesheet" href="../Styles/bgmi.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="culm1">
        <a>
          <img src="/Assets/logo.png" alt="logo" width="122">
        </a>
      </div>
      <div class="culm2">
        <h1>BATTLEGROUNDS INDIA</h1>
      </div>
      <div class="culm3">
        <a href="https://www.instagram.com/battlegroundsmobilein_official/?hl=en" target="main">
          <img src="/Assets/sns_i_w.png" alt="Instagram">
        </a>
      </div>
    </div>
    <div class="name">
      <p id="name">INDIA KA<br>BATTLEGROUNDS</p>
      <br>
      <p id="download">
        <a href="https://app.adjust.net.in/m9r6x2t" target="main" id="btn1">
          <img src="/Assets/btn_appstore_202.png" alt="Apple Logo">
        </a>
        <a href="https://bit.ly/BGMI_AppStore" target="main" id="btn2">
          <img src="/Assets/btn_googleplay_202.png" alt="Apple Logo">
        </a>
        <br><br>
        <a href="https://www.unipin.com/in/bgmi?utm_source=Referral&utm_medium=Website&utm_campaign=BGMI-Website"
          target="main" id="btn3">
          <span id="s1">BUY UC AT UniPin</span></a>
        <br><br>
        <a href="https://apkdownload.battlegroundsmobileindia.com/bgmi_3.8.0_homepage_EvmElqfa.apk" target="main"
          id="btn4">
          <span id="s2">APK DOWNLOAD</span></a>
      </p>
    </div>
  </div>
  <hr>
  <div class="india">
    <h2>INDIA KI HEARTBEAT</h2>
  </div>
  <hr>
  <article>
    <div class="main">
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias
        excepturiLorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem
        vitae praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Ab neque fugit laborum fuga, exercitationem vitae praesentium words. Ab neque fugit
        laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias
        excepturiLorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem
        vitae praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Ab neque fugit laborum fuga, exercitationem vitae praesentium words. Ab neque fugit
        laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias
        excepturiLorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem
        vitae praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Ab neque fugit laborum fuga, exercitationem vitae praesentium words. Ab neque fugit
        laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        perferendis inventore. Ab neque fugit laborum fuga, exercitationem vitae praesentium random words. Ab neque
        fugit laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        perferendis inventore. Ab neque fugit laborum fuga, exercitationem vitae praesentium random words. Ab neque
        fugit laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        perferendis inventore. Ab neque fugit laborum fuga, exercitationem vitae praesentium random words. Ab neque
        fugit laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        Lorem ipsum dolor. Ab neque fugit laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        Lorem ipsum dolor. Ab neque fugit laborum fuga, exercitationem vitae praesentium words.
      </div>
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab neque fugit laborum fuga, exercitationem vitae
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        praesentium, ex temporibus dolores eveniet minus voluptate recusandae pariatur delectus porro iusto quia
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        perferendis inventore. Blanditiis commodi repellendus quas officia nisi, deleniti corporis cupiditate vero porro
        nobis saepe, numquam nihil, tempora cum dolorum alias deserunt. Necessitatibus distinctio molestias excepturi
        Lorem ipsum dolor. Ab neque fugit laborum fuga, exercitationem vitae praesentium words.
      </div>
    </div>
  </article>
  <hr>
  <div class="emp1"></div>
  <hr>
  <div class="foot">
    <div class="app">
      <img id="app" src="/Assets/app.png" alt="BGMI">
    </div><br>
      <p id="here">INDIA KA BATTLEGROUNDS IS HERE
        <br> DOWNLOAD NOW!
        <br><br>
        <a href="https://app.adjust.net.in/m9r6x2t" target="main" id="btn1">
          <img src="/Assets/btn_appstore_202.png" alt="App Store">
        </a>
        <a href="https://bit.ly/BGMI_AppStore" target="main" id="btn2">
          <img src="/Assets/btn_googleplay_202.png" alt="Goolge Play">
        </a>
      </p>
  </div>
  <div class="last">
    <div class="k">
        <img id="k" src="/Assets/footerlg.png" alt="KRAFTON">
    </div><br>
    <div>
        <p id="cr">© 2023 KRAFTON, Inc. All rights reserved.</p>
    </div>
    <div class="lp">
        <p id="lp">
            <a href="https://www.battlegroundsmobileindia.com/privacy" target="main">
                <span>Privacy Policy</span>
            </a>
            <div class="divider"></div>
            <a href="https://www.battlegroundsmobileindia.com/terms" target="main">
                <span>Terms of Service</span>
            </a>
            <div class="divider"></div>
            <a href="https://www.battlegroundsmobileindia.com/rules" target="main">
                <span>Rules of Conduct</span>
            </a>
            <div class="divider"></div>
            <a href="https://www.battlegroundsmobileindia.com/privacy_community" target="main">
                <span>Official Community Policy</span>
            </a>
            <div class="divider"></div>
            <a href="https://www.battlegroundsmobileindia.com/ccg" target="main">
                <span>Content Creation Guideline</span>
            </a>
            <div class="divider"></div>
            <a href="https://www.battlegroundsmobileindia.com/terms_home" target="main">
                <span>HOME Terms of Service</span>
            </a>
            <div class="divider"></div>
            <a href="https://www.battlegroundsmobileindia.com/terms_wow" target="main">
                <span>WOW Terms of Service</span>
            </a>
        </p>
    </div>
  </div>
</body>
</html>
