<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Web Page</title>
    <style>
        table{border: 5px;}
    </style>
</head>
<body>
    <header>
        <h1 title="introduction">Myself</h1>
    </header>
    <main>
        <section>Name : Sagar Saini</section>
        <section>Age : 20</section>
    </main>
    <br>
    <a href="https://m.youtube.com" target="main"><img
            src="https://www.citypng.com/public/uploads/preview/red-youtube-logo-symbol-701751694792489qxkccchok1.png"
            alt="YouTube" height="50"></a> <br>
    <a href="https://www.google.com" target="main"><img
            src="https://i.pinimg.com/736x/68/3d/9a/683d9a1a8150ee8b29bfd25d46804605.jpg" alt="Google" height="50"></a>
    <br>
    <a href="second.html" target="main"><img
            src="https://png.pngtree.com/png-vector/20210629/ourmid/pngtree-click-me-button-png-png-image_3535564.jpg"
            alt="Click Me" height="100"></a>
    <ul>
        <li>apple</li>
        <li>banana</li>
    </ul>
    <ol type="i">
        <li>redmi</li>
        <li>asus</li>
        <li>iqoo</li>
        <li>infinix</li>
    </ol>
    <table>
        <caption> student list</caption>
        <tr>
            <th>Name</th>
            <td>Sagar saini</td>
            <td>Bhumika</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>BCA</td>
            <td>BCA</td>
        </tr>
        <tr>
            <th>Rollno.</th>
            <td>2023195541</td>
            <td>2023195542</td>
        </tr>
    </table><br>
    <form action="/second.html">
        <P>Enter your details</P><br>
        <input type="email" placeholder="mail"><br><br>
        <input type="password" placeholder="password"><br><br>
        <p>Confirm Details</p><br>
        <label for="yes">
            <input type="radio" value="1" name="ans" id="yes">Yes
        </label>
        <label for="no">
            <input type="radio" value="0" name="ans" id="no">No
        </label><br>
        <P>Choose your subjects</P><br>
        <label for="math">
            <input type="checkbox" value="math" name="sub" id="1">Maths
        </label><br>
        <label for="dsa">
            <input type="checkbox" value="dsa" name="sub" id="2">DSA
        </label><br>
        <label for="html">
            <input type="checkbox" value="html" name="sub" id="3">HTML
        </label><br>
        <label for="js">
            <input type="checkbox" value="js" name="sub" id="4">Js
        </label><br>
        <br>
        <textarea name="feedback" id="101" placeholder=" please give you feedback" rows="5"></textarea><br><br>
        <section>
            <img src="Assets/bgmi.jpeg" alt="">
        </section>
        <select name="city" id="city">
            <option>Ambala Cantt</option>
            <option>Ambala City</option>
            <option>Mohali</option>
            <option>Delhi</option>
            <option>Kurukshetra</option>
            <option value="ncr">NCR</option>
        </select> <br><br>
        <button>Submit</button> <br><br>
        <input type="submit" value="submit ">
    </form>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, quisquam sapiente similique alias enim
        deserunt, beatae nulla numquam vero autem laboriosam id officia voluptatibus a unde soluta saepe quos debitis?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit molestiae cum harum nemo expedita? Eius
        esse nam, fugit delectus ea cum repellat quod deserunt molestiae ut atque officia dolore magni.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis voluptates sapiente rerum accusamus enim
        aperiam autem itaque, recusandae nobis assumenda, molestias dolor reiciendis maiores dolorem blanditiis voluptas
        debitis. Quasi cumque harum, enim voluptas explicabo facere minus esse, aliquam neque, veritatis magnam qui
        eaque sapiente nihil!
    </p>
    <table>
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Sem</th>
        </tr>
        <tr>
            <td>Sagar</td>
            <td>BCA</td>
            <td>5th</td>
        </tr>
    </table>
</body>
</html>